:root {
  --top-margin    : 8px;
  --left-margin      : 300px;
  --right-margin     : 300px;
  --line-size        : 42px;
}

:root {
  --diocane   : 1;
}
/*
.bar {
  overflow: hidden;
  border-radius: 1px;
}
*/
