body {
  margin         : 0;
  margin-top     : var(--global_margin);
  margin-right   : calc( var(--right-margin) + var(--overflow-correct) );
  margin-left    : calc( var(--left-margin) + var(--overflow-correct) );
  color          : var(--foreground);
  box-shadow     : 2px;
  font-family    : "Lucida Grande",
                   sans-serif;
  font-size      : 10px;
  font-smoothing : antialiasing;
  line-height    : var(--line-size);
}

div {
  display : inline-block;
}

i {
  padding: 0px 8px;
}

.bar {
  display          : flex;
  width            : 100%;
  background-color : var(--background);
  white-space      : nowrap;
}

.container {
  width     : 33%;
  height    : var(--line-size);
  flex-grow : 1;
}

#left {
  text-align : left;
}

#middle {
  text-align : center;
}

#right {
  text-align : right;
}

.widg {
  min-width  : var(--line-size);
  text-align : center;
}

.output {
  padding-left: 4px;
  padding-right: 8px;
}

.output:only-child {
  padding-right : 16px;
  padding-left  : 16px;
}

.output:last-child {
  padding-right : 16px;
}

/* ANIMATION */

.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* BEHAVIOR */

.button:hover {
  color            : var(--background);
  background-color : var(--foreground);
}

/* APPLY COLORS */

.dark {
  opacity: 0.4;
}

.red {
  color : var(--color1);
}

.green {
  color : var(--color2);
}

.yellow {
  color : var(--color3);
}

.blue {
  color : var(--color4);
}

.cyan {
  color : var(--color5);
}

.magenta {
  color : var(--color6);
}

.white {
  color : var(--foreground);
}

.black {
  color : var(--background);
}

.pinned.red {
  color            : var(--background);
  background-color : var(--color1);
}

.pinned.green {
  color            : var(--background);
  background-color : var(--color2);
}

.pinned.yellow {
  color            : var(--background);
  background-color : var(--color3);
}

.pinned.blue {
  color            : var(--background);
  background-color : var(--color4);
}

.pinned.cyan {
  color            : var(--background);
  background-color : var(--color5);
}

.pinned.magenta {
  color            : var(--background);
  background-color : var(--color6);
}
