:root {
  --global_margin    : 0px;
  --left-margin      : 0px;
  --right-margin     : 0px;
  --line-size        : 20px;
  --overflow-correct : 4px;
}

body {
  font-family    : "Menlo",
                   sans-serif;
  font-size      : 8 px;
  font-smoothing : antialiasing;
}

.bar {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.6);
  opacity: 1;
}

.widg {
  font-family:"Menlo";
  font-size:10px;
  background-color: rgba(0,0,0,0);
  opacity: 0.8;
}

.button {
  padding-left: 4px;
  padding-right: 4px;
}
