:root {
  --global_margin    : 16px;
  --left-margin      : 16px;
  --right-margin     : 16px;
  --line-size        : 32px;
  --overflow-correct : 4px;
}

body {
  margin         : 0;
  margin-top     : var(--global_margin);
  margin-right   : calc( var(--right-margin) + var(--overflow-correct) );
  margin-left    : calc( var(--left-margin) + var(--overflow-correct) );
  color          : var(--foreground);

  font-family    : "SF Mono",
                   sans-serif;
  font-size      : 10px;
  font-smoothing : antialiasing;
  line-height    : var(--line-size);

}

.bar {
  border-radius: 5px;
  opacity: 0.8;
}

.widg {
  opacity: 1;
}
